<html>

<head>
    <title>Atualizar Cliente</title>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Handlee|Luckiest+Guy|Rubik&display=swap" rel="stylesheet">
    
    <style>
        *{
            margin: 0px;
            padding:0px;
        }

        h1{
            padding-top:20px;
            padding-bottom:20px;
            text-align: center;
            font-family: Boogaloo;
            font-size:20pt;
            border-bottom: 1px solid gray;
        }
        a{
            margin:10px;
            text-decoration: none;
            font-family: Boogaloo;
            font-size:15pt;
            color:black;
            transition: ease .5s;
        }

        a:hover{
            margin-left: 15px;
            color:black;
        }

        form{
            
            width:40%;
            margin-left: auto;
            margin-right: auto;
            padding:20px;
            background-color:white;
            box-shadow: 5px 5px 10px gray;
        }

        input{
            /*
            Vamos quebrar a linha da caixa e deixá-las uma abaixo da 
            outra. Usaremos o comando display com o valor block
            */
            display: block;
            margin-bottom: 10px;
            width: 100%;
            padding:10px;
            border-radius: 0;
            outline-color:limegreen;
        }
        input[type=submit]{
            width: 20%;
            background-color:red;
            color:white;
            margin-left: auto;
            margin-right: auto;
            border:0px;
            transition: ease .5s;
        }
        input[type=submit]:hover{
            transform: scale(1.1);
            cursor: pointer;
          
        }

         footer{
                background-color: rgba(255, 255, 255, 10);
                padding-top:20px;
                padding-bottom: 20px;
                text-align: center;
                font-family: Rubik;
                position: fixed;
                bottom: 0px;
                width: 100%;
            }
            label{
                font-family: rubik;
                font-size: 12pt;
            }

    </style>

</head>

<body>
    <header>
        <h1>Atualizar os dados do Cliente</h1>
        @Html.ActionLink("Home","Index","Cliente")
    </header>
    <main>
        <form asp-controller="Cliente" asp-action="Atualizar" method="post">
            <label>Id do Cliente</label>
            <input type="text" name="Id" required>

            <label>Nome do Cliente</label>
            <input type="text" name="Nome" required>

            <label>E-mail</label>
            <input type="email" name="Email" required>

            <label>Telefone</label>
            <input type="tel" name="Telefone" required>

            <label>CPF</label>
            <input type="text" name="CPF" required>

            <input type="submit" value="Atualizar">
        </form>
    </main>
    <footer>
            <h3>© Copyright - Todos os direitos reservados - Por Caroline Souza</h3>
    </footer>





</body>



</html>